flow.json
[{"id":"91f789ec.a4f17","type":"tab","label":"Playground, tests","disabled":false,"info":""},{"id":"2e65bb2c.4e1644","type":"LCD-I2C","z":"91f789ec.a4f17","name":"4x20 LCD","variant":"PCF8574","size":"20x4","x":420,"y":240,"wires":[]},{"id":"c8f5f3cb.9d9a18","type":"inject","z":"91f789ec.a4f17","name":"","topic":"","payload":"[{\"clear\":true,\"text\":\"Line 1 Text\",\"alignment\":\"center\"},{},{},{\"clear\":false,\"text\":\"Line 4 Text\",\"alignment\":\"right\"}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":240,"wires":[["2e65bb2c.4e1644","89aaf1bc.c10618"]]},{"id":"89aaf1bc.c10618","type":"debug","z":"91f789ec.a4f17","name":"lcd test","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":420,"y":180,"wires":[]}]