flows.json
[
{
    "id": "3e9bdef31c52f222",
    "type": "tab",
    "label": "Playground",
    "disabled": false,
    "info": "",
    "env": []
},
{
    "id": "428111ca400b4b80",
    "type": "rpi-gpio out",
    "z": "3e9bdef31c52f222",
    "name": "LED",
    "pin": "4",
    "set": true,
    "level": "0",
    "freq": "",
    "out": "out",
    "bcm": true,
    "x": 330,
    "y": 120,
    "wires": []
},
{
    "id": "376b13e23f25b218",
    "type": "inject",
    "z": "3e9bdef31c52f222",
    "name": "",
    "props": [
        {
            "p": "payload"
        },
        {
            "p": "topic",
            "v": "true",
            "vt": "bool"
        }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "x": 150,
    "y": 100,
    "wires": [
        [
            "428111ca400b4b80"
        ]
    ]
},
{
    "id": "a1eb1a77c0deaaee",
    "type": "inject",
    "z": "3e9bdef31c52f222",
    "name": "",
    "props": [
        {
            "p": "payload"
        }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "false",
    "payloadType": "bool",
    "x": 150,
    "y": 140,
    "wires": [
        [
            "428111ca400b4b80"
        ]
    ]
}
]
