flow.json
[{"id":"91f789ec.a4f17","type":"tab","label":"Playground, tests","disabled":false,"info":""},{"id":"f7a0cac1.5f5af","type":"tab","label":"MQTT","disabled":false,"info":""},{"id":"98b0effc.65096","type":"tab","label":"Sensors","disabled":false,"info":""},{"id":"f898b011.8cb44","type":"tab","label":"LCD","disabled":false,"info":""},{"id":"c16ac57b.fa21f","type":"tab","label":"Camera","disabled":false,"info":""},{"id":"44ed3281.52c5a4","type":"tab","label":"Sys","disabled":false,"info":""},{"id":"1c85e207.9c4a2e","type":"subflow","name":"Execute Shell Script","info":"","in":[{"x":100,"y":200,"wires":[{"id":"ec010d12.46a428"}]}],"out":[{"x":960,"y":280,"wires":[{"id":"68557c2a.a3dbec","port":0}]},{"x":960,"y":340,"wires":[{"id":"68557c2a.a3dbec","port":1}]},{"x":960,"y":400,"wires":[{"id":"68557c2a.a3dbec","port":2}]}]},{"id":"42ca863f.50d128","type":"mqtt-broker","z":"","name":"QNAP","broker":"10.0.10.30","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"958db5d8.45c0b8","type":"tls-config","z":"","name":"plant_thing","cert":"","key":"","ca":"","certname":"01d6fa5abe-certificate.pem.crt","keyname":"01d6fa5abe-private.pem.key","caname":"aws_root_CA.pem","servername":"","verifyservercert":true},{"id":"8251bee0.c70e98","type":"aws-config-s3","z":0},{"id":"e9d622c9.8920d8","type":"ina-sensor-manager","z":"","address":"0x40","delay":"16000","ohms":"0.01","customResistor":false},{"id":"1ac48f17.a5a1a1","type":"oled-config","z":"","name":"OLED","width":"128","height":"64","address":"0x3c"},{"id":"fd70a59a.423ef8","type":"mqtt-broker","z":"","name":"AWS","broker":"azajijbaqf61a-ats.iot.eu-central-1.amazonaws.com","port":"8883","tls":"958db5d8.45c0b8","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"6fa3ae01.020c8","type":"ncd-comm","z":"","name":"","bus":"i2c-1","commType":"standard","addr":"0","useMux":false,"muxAddr":"112","muxPort":"0"},{"id":"df4c01ed.fb6238","type":"Bme280","z":"98b0effc.65096","name":"BME280","bus":"1","address":"0x76","topic":"bme280","extra":false,"x":280,"y":200,"wires":[["89a1f0fb.062d28","20a9c6bd.64feb2","69872bb9.1fa6bc","2eb5ceea.1a8862","5eff1989.7d6308"]]},{"id":"2483a999.6ff35e","type":"inject","z":"98b0effc.65096","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"60","crontab":"","once":true,"onceDelay":"0.5","x":110,"y":200,"wires":[["df4c01ed.fb6238","3a5ddff4.6a5608","598099ce.7cb408","927c9eeb.97c33"]]},{"id":"89a1f0fb.062d28","type":"function","z":"98b0effc.65096","name":"temperature","func":"newMsg = {};\nnewMsg.payload = msg.payload.temperature_C;\nreturn newMsg;\n\n","outputs":1,"noerr":0,"x":530,"y":160,"wires":[["b748c139.806df"]]},{"id":"20a9c6bd.64feb2","type":"function","z":"98b0effc.65096","name":"humidity","func":"newMsg = {};\n// newMsg.payload = msg.payload.humidity;\nnewMsg.payload = JSON.parse(Number(msg.payload.humidity).toFixed(2));\nreturn newMsg;","outputs":1,"noerr":0,"x":520,"y":200,"wires":[["19d61a28.ce817e"]]},{"id":"69872bb9.1fa6bc","type":"function","z":"98b0effc.65096","name":"pressure","func":"newMsg = {};\nnewMsg.payload = JSON.parse(Number(msg.payload.pressure_hPa).toFixed(2));\n// newMsg.payload = msg.payload.pressure_hPa;\nreturn newMsg;","outputs":1,"noerr":0,"x":520,"y":240,"wires":[["45183fd9.456ce8"]]},{"id":"aa4365c9.761a18","type":"link out","z":"98b0effc.65096","name":"bme280-readings","links":["6ab4dbc2.100f9c","30b0d6ec.62628a"],"x":675,"y":120,"wires":[]},{"id":"2eb5ceea.1a8862","type":"function","z":"98b0effc.65096","name":"topic bme280","func":"msg.topic=\"bme280\";\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":120,"wires":[["aa4365c9.761a18"]]},{"id":"db0c6d5d.5f565","type":"comment","z":"91f789ec.a4f17","name":"TODO list","info":"","x":80,"y":40,"wires":[]},{"id":"e81b166a.f93e98","type":"mqtt in","z":"f7a0cac1.5f5af","name":"","topic":"garden/weather/sensor/temperature","qos":"2","datatype":"auto","broker":"42ca863f.50d128","x":160,"y":140,"wires":[["23897e93.734fca"]]},{"id":"b0f5c114.a4bbc8","type":"mqtt in","z":"f7a0cac1.5f5af","name":"","topic":"garden/weather/sensor/humidity","qos":"2","datatype":"auto","broker":"42ca863f.50d128","x":150,"y":200,"wires":[["89e927b1.bfb0e8"]]},{"id":"7a858685.7a072","type":"yaml","z":"98b0effc.65096","property":"payload","name":"\"","x":410,"y":380,"wires":[["a35d5973.426f78","9d681f3d.eb09c8"]]},{"id":"cff98706.3b94","type":"switch","z":"98b0effc.65096","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"Full","vt":"str"},{"t":"cont","v":"IR","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":380,"wires":[["15e5d78c.d20e68"],["e5e4c2e4.056f38"]]},{"id":"a35d5973.426f78","type":"split","z":"98b0effc.65096","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":570,"y":380,"wires":[["cff98706.3b94"]]},{"id":"6465c5dc.369c24","type":"camerapi-takephoto","z":"c16ac57b.fa21f","filemode":"1","filename":"{{msg.payload.filename}}","filedefpath":"0","filepath":"/home/pi/pictures/","fileformat":"jpeg","resolution":"1","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"1","awb":"auto","name":"take photo","x":630,"y":120,"wires":[["3baceda1.d3ef02"]]},{"id":"dab8342d.e3b3a8","type":"comment","z":"f7a0cac1.5f5af","name":"External sensors values","info":"","x":120,"y":40,"wires":[]},{"id":"5068057d.fed9ec","type":"comment","z":"f898b011.8cb44","name":"","info":"","x":100,"y":60,"wires":[]},{"id":"d2639062.f8449","type":"function","z":"c16ac57b.fa21f","name":"name string","func":"var date;\ndate = new Date();\ndate = (date.getFullYear() + '-' + ('00' + (date.getMonth()+1)).slice(-2) + '-' + ('00' + date.getDate()).slice(-2) + 'T' + ('00' + date.getHours()).slice(-2) + ':' + ('00' + date.getMinutes()).slice(-2) + ':' + ('00' + date.getSeconds()).slice(-2));\n\nmsg.filename = \"plant_picture_\" + date + \".jpg\";\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":120,"wires":[["6465c5dc.369c24"]]},{"id":"6230aa.bfd8ff58","type":"inject","z":"f7a0cac1.5f5af","name":"start default values","topic":"","payload":"{\"deviceID\":\"plant\",\"interval\":15,\"temperature\":20,\"humidity\":20,\"pressure\":1000,\"temperature_outdoor\":20,\"humidity_outdoor\":20,\"light_full\":0,\"light_ir\":0,\"moisture\":1,\"voltage\":0,\"load\":0,\"memory\":0,\"uptime\":0,\"air_co2\":0,\"air_tvoc\":0,\"air_temp\":0,\"weight\":0,\"image\":\"-\"}","payloadType":"json","repeat":"900","crontab":"","once":true,"onceDelay":"5","x":140,"y":360,"wires":[["c118aa8c.c0b278","edaaba0a.0f615"]]},{"id":"c118aa8c.c0b278","type":"function","z":"f7a0cac1.5f5af","name":"gather all global vars info to one msg","func":"msg.payload.deviceID+=\"01\";\nmsg.payload.timestamp=Date.now();\nmsg.payload.image = global.get(\"picture\");\nmsg.payload.temperature = global.get(\"temperature\");\nmsg.payload.temperature_outdoor = global.get(\"temperatureOutdoor\");\nmsg.payload.humidity = global.get(\"humidity\");\nmsg.payload.humidity_outdoor = global.get(\"humidityOutdoor\");\nmsg.payload.pressure = global.get(\"pressure\");\nmsg.payload.light_full = global.get(\"light_full\");\nmsg.payload.light_ir = global.get(\"light_ir\");\nmsg.payload.moisture = global.get(\"moisture\");\nmsg.payload.voltage = global.get(\"voltage\");\nmsg.payload.load = global.get(\"load\");\nmsg.payload.memory = global.get(\"memory\");\nmsg.payload.uptime = global.get(\"uptime\");\nmsg.payload.air_co2 = global.get(\"airCO2\");\nmsg.payload.air_tvoc = global.get(\"airTVOC\");\nmsg.payload.air_temp = global.get(\"airTemp\");\nmsg.payload.weight = global.get(\"weight\");\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":360,"wires":[["5afaa662.def1f","f8c30f07.46c47"]]},{"id":"b748c139.806df","type":"change","z":"98b0effc.65096","name":"","rules":[{"t":"set","p":"temperature","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":160,"wires":[[]]},{"id":"19d61a28.ce817e","type":"change","z":"98b0effc.65096","name":"","rules":[{"t":"set","p":"humidity","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":200,"wires":[[]]},{"id":"45183fd9.456ce8","type":"change","z":"98b0effc.65096","name":"","rules":[{"t":"set","p":"pressure","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":240,"wires":[[]]},{"id":"d4e772de.ce8fe8","type":"change","z":"f7a0cac1.5f5af","name":"","rules":[{"t":"set","p":"temperatureOutdoor","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":140,"wires":[["d06b603e.dcb508"]]},{"id":"8695e00.d675f2","type":"change","z":"f7a0cac1.5f5af","name":"","rules":[{"t":"set","p":"humidityOutdoor","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":200,"wires":[["2f00bdca.c7bb6a"]]},{"id":"15e5d78c.d20e68","type":"change","z":"98b0effc.65096","name":"","rules":[{"t":"set","p":"light_full","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":360,"wires":[["27b09427.38588c"]]},{"id":"e5e4c2e4.056f38","type":"change","z":"98b0effc.65096","name":"","rules":[{"t":"set","p":"light_ir","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":400,"wires":[[]]},{"id":"5afaa662.def1f","type":"debug","z":"f7a0cac1.5f5af","name":"aws","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":300,"wires":[]},{"id":"d06b603e.dcb508","type":"debug","z":"f7a0cac1.5f5af","name":"temp outdoor","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":920,"y":140,"wires":[]},{"id":"23897e93.734fca","type":"yaml","z":"f7a0cac1.5f5af","property":"payload","name":"","x":390,"y":140,"wires":[["d4e772de.ce8fe8"]]},{"id":"89e927b1.bfb0e8","type":"yaml","z":"f7a0cac1.5f5af","property":"payload","name":"","x":390,"y":200,"wires":[["8695e00.d675f2"]]},{"id":"ab6d3327.3e6a38","type":"function","z":"c16ac57b.fa21f","name":"set file path & name","func":"msg.localFilename=global.get(\"filename\");\nmsg.filename=msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":340,"wires":[["307355c7.fe05a2"]]},{"id":"2ee72ba5.62ce54","type":"debug","z":"c16ac57b.fa21f","name":"camera","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1020,"y":60,"wires":[]},{"id":"15f2f629.12335a","type":"debug","z":"c16ac57b.fa21f","name":"s3","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":930,"y":340,"wires":[]},{"id":"307355c7.fe05a2","type":"amazon s3 put","z":"c16ac57b.fa21f","aws":"8251bee0.c70e98","bucket":"garden-of-tangled-data","filename":"","localFilename":"","contentType":"image/jpeg","contentEncoding":"","region":"eu-central-1","isBase64":"","name":"s3","acl":"private","outputs":1,"x":790,"y":340,"wires":[["15f2f629.12335a"]]},{"id":"5eff1989.7d6308","type":"debug","z":"98b0effc.65096","name":"bme280","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":520,"y":60,"wires":[]},{"id":"9d681f3d.eb09c8","type":"debug","z":"98b0effc.65096","name":"LX","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":570,"y":320,"wires":[]},{"id":"8c9ea1fb.bf00b8","type":"ina-sensor","z":"98b0effc.65096","d":true,"name":"","handle":"e9d622c9.8920d8","x":150,"y":820,"wires":[["f1548d56.de3a38"],["321b7151.bd2ade"]]},{"id":"b3b34b11.84c0f","type":"debug","z":"98b0effc.65096","name":"Volts","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":590,"y":760,"wires":[]},{"id":"b73e26ed.e860a","type":"debug","z":"98b0effc.65096","name":"miliAmps","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":600,"y":840,"wires":[]},{"id":"f1548d56.de3a38","type":"change","z":"98b0effc.65096","name":"","rules":[{"t":"set","p":"voltage","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":760,"wires":[["b3b34b11.84c0f"]]},{"id":"321b7151.bd2ade","type":"change","z":"98b0effc.65096","name":"","rules":[{"t":"set","p":"current","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":840,"wires":[["b73e26ed.e860a"]]},{"id":"2f00bdca.c7bb6a","type":"debug","z":"f7a0cac1.5f5af","name":"humidity outdoor","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":930,"y":200,"wires":[]},{"id":"6b19a078.08428","type":"rpi-gpio out","z":"f7a0cac1.5f5af","name":"","pin":"16","set":true,"level":"0","freq":"","out":"out","x":580,"y":300,"wires":[]},{"id":"edaaba0a.0f615","type":"trigger","z":"f7a0cac1.5f5af","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"3","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":400,"y":300,"wires":[["6b19a078.08428"]]},{"id":"163d489e.a4a277","type":"rpi-gpio out","z":"f898b011.8cb44","name":"","pin":"12","set":true,"level":"0","freq":"","out":"out","x":620,"y":60,"wires":[]},{"id":"931c1691.01b86","type":"inject","z":"f898b011.8cb44","name":"led ping","topic":"","payload":"true","payloadType":"bool","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":60,"wires":[["d9eb827b.deffc8"]]},{"id":"d9eb827b.deffc8","type":"trigger","z":"f898b011.8cb44","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"50","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":450,"y":60,"wires":[["163d489e.a4a277"]]},{"id":"5205ec1e.7b9b04","type":"String","z":"f898b011.8cb44","name":"oled","display":"1ac48f17.a5a1a1","x":610,"y":260,"wires":[]},{"id":"b7822373.5de7c","type":"inject","z":"f898b011.8cb44","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"60","crontab":"","once":true,"onceDelay":"5","x":110,"y":260,"wires":[["8a04feec.274b08","103a6aa8.9b1d85","dc346a29.d5faf8"]]},{"id":"56baad6f.42d824","type":"function","z":"f898b011.8cb44","name":"uptime","func":"msg.payload = {\"size\":1,\"x\":1,\"y\":55,\"text\": global.get(\"up\")}\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":220,"wires":[["5205ec1e.7b9b04"]]},{"id":"8a04feec.274b08","type":"delay","z":"f898b011.8cb44","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":220,"wires":[["56baad6f.42d824"]]},{"id":"420e2c42.c78df4","type":"function","z":"f898b011.8cb44","name":"load","func":"var load = Number(global.get(\"load\")).toFixed(2);\n// var load = global.get(\"load\");\nmsg.payload = {\"size\":2,\"x\":1,\"y\":18,\"text\": load}\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":260,"wires":[["5205ec1e.7b9b04"]]},{"id":"103a6aa8.9b1d85","type":"delay","z":"f898b011.8cb44","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":260,"wires":[["420e2c42.c78df4"]]},{"id":"2e3ba46c.0fe9dc","type":"function","z":"f898b011.8cb44","name":"temp","func":"var temp = Number(global.get(\"temperature\")).toFixed(2);\nmsg.payload = {\"size\":2,\"x\":1,\"y\":35,\"text\": temp}\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":300,"wires":[["5205ec1e.7b9b04"]]},{"id":"dc346a29.d5faf8","type":"delay","z":"f898b011.8cb44","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":300,"wires":[["2e3ba46c.0fe9dc"]]},{"id":"f27cfa58.1c4c78","type":"FillRectangle","z":"f898b011.8cb44","name":"rec","display":"1ac48f17.a5a1a1","x":610,"y":400,"wires":[]},{"id":"7bfc8649.e0442","type":"function","z":"f898b011.8cb44","name":"box","func":"msg.payload = {x:110,y:1,w:14,h:14,color:1};\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":400,"wires":[["f27cfa58.1c4c78"]]},{"id":"6d5fdd1f.4c8bac","type":"inject","z":"f898b011.8cb44","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":400,"wires":[["7bfc8649.e0442"]]},{"id":"f8c30f07.46c47","type":"mqtt out","z":"f7a0cac1.5f5af","name":"aws iot","topic":"plant","qos":"","retain":"","broker":"fd70a59a.423ef8","x":800,"y":360,"wires":[]},{"id":"2b33a2fe.1da2de","type":"mqtt in","z":"f7a0cac1.5f5af","name":"aws feedback","topic":"plant/confirmation","qos":"0","datatype":"auto","broker":"fd70a59a.423ef8","x":90,"y":460,"wires":[["bcd6ac4a.cc2cf","dc9ca4cc.cc408"]]},{"id":"bcd6ac4a.cc2cf","type":"debug","z":"f7a0cac1.5f5af","name":"aws sub","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":290,"y":460,"wires":[]},{"id":"6d83c8fc.5f01f","type":"file","z":"1c85e207.9c4a2e","name":"Write script file","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","x":860,"y":140,"wires":[[]]},{"id":"eeb4fcf3.a46998","type":"exec","z":"1c85e207.9c4a2e","command":"mktemp","addpay":false,"append":"","useSpawn":"","timer":"","name":"","x":420,"y":200,"wires":[["174aae68.46d54a"],[],[]]},{"id":"debf5652.58ae4","type":"file","z":"1c85e207.9c4a2e","name":"Delete script file","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"delete","x":1020,"y":480,"wires":[[]]},{"id":"68557c2a.a3dbec","type":"exec","z":"1c85e207.9c4a2e","command":" sh ","addpay":true,"append":"","useSpawn":"","timer":"","name":"Execute the shell script","x":690,"y":340,"wires":[["debf5652.58ae4"],[],[]]},{"id":"3f681c58.774d34","type":"exec","z":"1c85e207.9c4a2e","command":"chmod +x ","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":1040,"y":200,"wires":[["20370339.93307c"],[],[]]},{"id":"ec010d12.46a428","type":"change","z":"1c85e207.9c4a2e","name":"","rules":[{"t":"set","p":"command","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":200,"wires":[["eeb4fcf3.a46998"]]},{"id":"6d418a.56aefe78","type":"change","z":"1c85e207.9c4a2e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"filename","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":200,"wires":[["3f681c58.774d34"]]},{"id":"174aae68.46d54a","type":"function","z":"1c85e207.9c4a2e","name":"","func":"msg.filename = msg.payload.trim();\nmsg.payload = msg.command;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":180,"wires":[["6d83c8fc.5f01f","6d418a.56aefe78"]]},{"id":"20370339.93307c","type":"change","z":"1c85e207.9c4a2e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"filename","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":340,"wires":[["68557c2a.a3dbec"]]},{"id":"cde9efe1.95e418","type":"comment","z":"1c85e207.9c4a2e","name":"Execute shell script","info":"Execute the shell script in msg.payload.","x":130,"y":40,"wires":[]},{"id":"442021b5.cc8678","type":"yaml","z":"98b0effc.65096","property":"payload","name":"\"","x":410,"y":500,"wires":[["bf99f2d0.da47a8","dacff75d.2d161"]]},{"id":"bf99f2d0.da47a8","type":"split","z":"98b0effc.65096","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":570,"y":500,"wires":[["2113e967.9483de"]]},{"id":"2113e967.9483de","type":"switch","z":"98b0effc.65096","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"CO2","vt":"str"},{"t":"cont","v":"ppmTVOC","vt":"str"},{"t":"cont","v":"temp","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":710,"y":500,"wires":[["1b480773.982911"],["d58a26c9.1beea8"],["20b2133.3774f6c"]]},{"id":"1b480773.982911","type":"change","z":"98b0effc.65096","name":"","rules":[{"t":"set","p":"airCO2","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":460,"wires":[[]]},{"id":"d58a26c9.1beea8","type":"change","z":"98b0effc.65096","name":"","rules":[{"t":"set","p":"airTVOC","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":500,"wires":[[]]},{"id":"20b2133.3774f6c","type":"change","z":"98b0effc.65096","name":"","rules":[{"t":"set","p":"airTemp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":540,"wires":[[]]},{"id":"dacff75d.2d161","type":"debug","z":"98b0effc.65096","name":"AIR","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":570,"y":440,"wires":[]},{"id":"3a5ddff4.6a5608","type":"exec","z":"98b0effc.65096","command":"python /home/pi/.node-red/projects/plant-monitor/read_tls2561.py","addpay":false,"append":"","useSpawn":"false","timer":"10","oldrc":false,"name":"lux","x":270,"y":380,"wires":[["7a858685.7a072"],[],[]]},{"id":"598099ce.7cb408","type":"exec","z":"98b0effc.65096","command":"python3 /home/pi/.node-red/projects/plant-monitor/read_ccs811.py","addpay":false,"append":"","useSpawn":"false","timer":"10","oldrc":false,"name":"air","x":270,"y":500,"wires":[["442021b5.cc8678"],[],[]]},{"id":"700c4a6e.0170ac","type":"Uptime","z":"44ed3281.52c5a4","name":"","x":260,"y":180,"wires":[["b7f7d17d.af7858","412a74d2.c5a9bc"]]},{"id":"c860c249.e63488","type":"inject","z":"44ed3281.52c5a4","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"60","crontab":"","once":true,"onceDelay":"2","x":110,"y":180,"wires":[["700c4a6e.0170ac","71917374.8ec324","8901f26c.4308a"]]},{"id":"b7f7d17d.af7858","type":"function","z":"44ed3281.52c5a4","name":"secs2human","func":"function secondsToString(seconds)\n{\nvar numdays = Math.floor((seconds % 31536000) / 86400); \nvar numhours = Math.floor(((seconds % 31536000) % 86400) / 3600);\nvar numminutes = Math.floor((((seconds % 31536000) % 86400) % 3600) / 60);\nvar numseconds = (((seconds % 31536000) % 86400) % 3600) % 60;\nreturn (numdays + \"d \" + numhours + \"h \" + numminutes + \"m\");\n\n}\nmsg.payload =secondsToString(msg.payload.uptime)\nmsg.topic=\"up\";\nreturn msg","outputs":1,"noerr":0,"x":430,"y":180,"wires":[["5b997550.5b671c"]]},{"id":"9f60e45d.02344","type":"link out","z":"44ed3281.52c5a4","name":"uptime","links":["6ab4dbc2.100f9c","30b0d6ec.62628a"],"x":875,"y":180,"wires":[]},{"id":"28fe7497.5d8f44","type":"change","z":"44ed3281.52c5a4","name":"","rules":[{"t":"set","p":"uptime","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":120,"wires":[[]]},{"id":"71917374.8ec324","type":"Loadavg","z":"44ed3281.52c5a4","name":"","x":260,"y":240,"wires":[["4432ccdf.aab3ac"]]},{"id":"4432ccdf.aab3ac","type":"function","z":"44ed3281.52c5a4","name":"get 15min","func":"msg.payload = msg.payload.loadavg[2];\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":240,"wires":[["1423ebe9.abf04c"]]},{"id":"1423ebe9.abf04c","type":"change","z":"44ed3281.52c5a4","name":"","rules":[{"t":"set","p":"load","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":240,"wires":[["1f2eacfd.dd0b3b"]]},{"id":"1f2eacfd.dd0b3b","type":"debug","z":"44ed3281.52c5a4","name":"payload 15min avg","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1010,"y":240,"wires":[]},{"id":"412a74d2.c5a9bc","type":"function","z":"44ed3281.52c5a4","name":"uptime2payload","func":"msg.payload = msg.payload.uptime;\nreturn msg","outputs":1,"noerr":0,"x":440,"y":120,"wires":[["28fe7497.5d8f44"]]},{"id":"5b997550.5b671c","type":"change","z":"44ed3281.52c5a4","name":"","rules":[{"t":"set","p":"up","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":180,"wires":[["9f60e45d.02344","bae334df.948eb"]]},{"id":"8901f26c.4308a","type":"Memory","z":"44ed3281.52c5a4","name":"","x":260,"y":300,"wires":[["951de3fb.bc16"]]},{"id":"951de3fb.bc16","type":"function","z":"44ed3281.52c5a4","name":"memusage","func":"msg.payload = msg.payload.memusage;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":300,"wires":[["15099e81.36e459"]]},{"id":"15099e81.36e459","type":"yaml","z":"44ed3281.52c5a4","property":"payload","name":"","x":610,"y":300,"wires":[["863a0abb.ccf9e"]]},{"id":"863a0abb.ccf9e","type":"change","z":"44ed3281.52c5a4","name":"","rules":[{"t":"set","p":"memory","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":300,"wires":[["bb6c6b35.c9b428"]]},{"id":"615db45b.482dec","type":"function","z":"91f789ec.a4f17","name":"combine received msgs into one","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"bme280\":\n        context.data.temperature = msg.payload.temperature_C;\n        context.data.humidity = msg.payload.humidity;\n        context.data.preassure = msg.payload.pressure_hPa;\n        msg = null;\n        break;\n        \n    case \"up\":\n        context.data.uptime = msg.payload;\n        msg = null;\n        break;\n}\n\nif (context.data.temperature != null &&\n    context.data.humidity != null &&\n    context.data.preassure != null &&\n    context.data.uptime != null) {\n        newMsg = {};\n        var temp = Number(context.data.temperature).toFixed(2);\n        var humi = Number(context.data.humidity).toFixed(2);\n        var press = Number(context.data.preassure).toFixed(1);\n\n        newMsg.payload =\n        [{\n            \"clear\": true,\n            \"text\": \"temp \"+ temp,\n            \"aligment\": \"left\"\n            },\n            {\n            \"clear\": true,\n            \"text\": \"hum  \"+ humi,\n            \"aligment\": \"left\"\n            },\n            {\n            \"clear\": true,\n             \"text\": \"pres \"+ press,\n             \"aligment\": \"left\"\n            },\n            {\n            \"clear\": true,\n            \"text\": \"up  \"+ context.data.uptime,\n            \"aligment\": \"left\"\n            }\n        ]\n        return newMsg;\n}\n\n","outputs":1,"noerr":0,"x":930,"y":600,"wires":[[]]},{"id":"30b0d6ec.62628a","type":"link in","z":"91f789ec.a4f17","name":"to-display-on-LCD","links":["aa4365c9.761a18","dd12e0ac.f6805","9041c4e9.f53fe8","9f60e45d.02344"],"x":735,"y":600,"wires":[["615db45b.482dec"]]},{"id":"ba5fbc09.bc402","type":"function","z":"91f789ec.a4f17","name":"format for LCD","func":"        newMsg = {};\n        var temp = Number(global.temperature).toFixed(2);\n        var humi = Number(global.humidity).toFixed(2);\n        var press = Number(global.preassure).toFixed(1);\n\n        newMsg.payload =\n        [{\n            \"clear\": true,\n            \"text\": \"temp \"+ temp,\n            \"aligment\": \"left\"\n            },\n            {\n            \"clear\": true,\n            \"text\": \"hum  \"+ humi,\n            \"aligment\": \"left\"\n            },\n            {\n            \"clear\": true,\n             \"text\": \"pres \"+ press,\n             \"aligment\": \"left\"\n            },\n            {\n            \"clear\": true,\n            \"text\": \"up  \"+ context.data.uptime,\n            \"aligment\": \"left\"\n            }\n        ]\n        return newMsg;","outputs":1,"noerr":0,"x":980,"y":660,"wires":[[]]},{"id":"48e72d54.16667c","type":"ncd-ads1115","z":"98b0effc.65096","name":"ads1015","connection":"6fa3ae01.020c8","addr":"72","interval":"5000","outputs":5,"output_all":true,"output_mult":1,"channel_1":"4","channel_2":"5","channel_3":"6","channel_4":"7","gain":"0","mode":"2","rate":4,"compMode":0,"compPol":0,"compLat":0,"compQueue":3,"delay":"100","x":140,"y":1060,"wires":[["7325345c.8395d4"],["9ee8b876.3293"],["da1fb6bf.745c2"],["85f61e3b.7c4338"],[]]},{"id":"bee871f1.bca8d","type":"debug","z":"98b0effc.65096","name":"ad ch1","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":730,"y":960,"wires":[]},{"id":"9ee8b876.3293","type":"debug","z":"98b0effc.65096","name":"ad ch2","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":350,"y":1020,"wires":[]},{"id":"da1fb6bf.745c2","type":"debug","z":"98b0effc.65096","name":"ad ch3","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":350,"y":1080,"wires":[]},{"id":"85f61e3b.7c4338","type":"debug","z":"98b0effc.65096","name":"ad ch4","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":350,"y":1140,"wires":[]},{"id":"d1f38be4.25fa1","type":"change","z":"98b0effc.65096","name":"","rules":[{"t":"set","p":"moisture","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":960,"wires":[["bee871f1.bca8d"]]},{"id":"7325345c.8395d4","type":"range","z":"98b0effc.65096","minin":"0","maxin":"28000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"","x":360,"y":960,"wires":[["d1f38be4.25fa1"]]},{"id":"dcf52669.b34568","type":"change","z":"91f789ec.a4f17","name":"Extract value","rules":[{"t":"set","p":"payload","pt":"msg","to":"*.*","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":500,"wires":[["247c8e16.60abfa"]]},{"id":"247c8e16.60abfa","type":"function","z":"91f789ec.a4f17","name":"reformat","func":"msg.payload = JSON.parse(Number(msg.payload).toFixed(2));\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":500,"wires":[[]]},{"id":"927c9eeb.97c33","type":"exec","z":"98b0effc.65096","command":"python /home/pi/.node-red/projects/plant-monitor/read_hx711.py","addpay":false,"append":"","useSpawn":"false","timer":"10","oldrc":false,"name":"weight","x":270,"y":620,"wires":[["14d847a9.f1b7b8"],[],[]]},{"id":"14d847a9.f1b7b8","type":"yaml","z":"98b0effc.65096","property":"payload","name":"\"","x":410,"y":620,"wires":[["bab1965c.3347","f0a8a35e.8413b"]]},{"id":"bab1965c.3347","type":"debug","z":"98b0effc.65096","name":"weight","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":570,"y":560,"wires":[]},{"id":"58561c1d.fc26e4","type":"change","z":"98b0effc.65096","name":"","rules":[{"t":"set","p":"weight","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":620,"wires":[[]]},{"id":"f0a8a35e.8413b","type":"function","z":"98b0effc.65096","name":"get weight","func":"msg.payload = msg.payload.weight;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":620,"wires":[["4384bac7.c24a8c"]]},{"id":"a40e8b5f.1f01e8","type":"comment","z":"98b0effc.65096","name":"","info":"empty tray: - 20527\n1kg ish: 1414391","x":720,"y":560,"wires":[]},{"id":"4384bac7.c24a8c","type":"range","z":"98b0effc.65096","minin":"-20500","maxin":"1414400","minout":"0","maxout":"1000","action":"scale","round":true,"property":"payload","name":"0-1kg int","x":760,"y":620,"wires":[["58561c1d.fc26e4","bf5a7e59.87aef"]]},{"id":"bf5a7e59.87aef","type":"debug","z":"98b0effc.65096","name":"weight in grams","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":940,"y":660,"wires":[]},{"id":"3baceda1.d3ef02","type":"change","z":"c16ac57b.fa21f","name":"","rules":[{"t":"set","p":"filename","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":120,"wires":[["2ee72ba5.62ce54","60a4a230.fe19ec"]]},{"id":"2a58d67d.dd1a3a","type":"string","z":"c16ac57b.fa21f","name":"","methods":[{"name":"replaceAll","params":[{"type":"str","value":"/home/pi/pictures/"},{"type":"str","value":""}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":410,"y":340,"wires":[["ab6d3327.3e6a38","37748cb0.5ecee4"]]},{"id":"67700db4.c799b4","type":"function","z":"c16ac57b.fa21f","name":"get filename","func":"msg.payload=global.get(\"filename\");\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":340,"wires":[["2a58d67d.dd1a3a"]]},{"id":"39896ee2.ff3d2a","type":"debug","z":"c16ac57b.fa21f","name":"string","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":930,"y":400,"wires":[]},{"id":"60a4a230.fe19ec","type":"delay","z":"c16ac57b.fa21f","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1020,"y":120,"wires":[["67700db4.c799b4"]]},{"id":"912d8211.230838","type":"inject","z":"98b0effc.65096","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":760,"wires":[["f1548d56.de3a38","321b7151.bd2ade"]]},{"id":"5f3ca5ce.e76d0c","type":"catch","z":"98b0effc.65096","name":"","scope":null,"uncaught":false,"x":820,"y":60,"wires":[["9f999b9d.c2a638"]]},{"id":"9f999b9d.c2a638","type":"debug","z":"98b0effc.65096","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":970,"y":60,"wires":[]},{"id":"c18b0548.c14ab8","type":"catch","z":"f7a0cac1.5f5af","name":"","scope":null,"uncaught":false,"x":740,"y":40,"wires":[["1d81dac2.9713f5"]]},{"id":"1d81dac2.9713f5","type":"debug","z":"f7a0cac1.5f5af","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":890,"y":40,"wires":[]},{"id":"37748cb0.5ecee4","type":"change","z":"c16ac57b.fa21f","name":"","rules":[{"t":"set","p":"picture","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":400,"wires":[["39896ee2.ff3d2a"]]},{"id":"119e9cbb.69a0ab","type":"inject","z":"c16ac57b.fa21f","name":"/1h","topic":"","payload":"true","payloadType":"bool","repeat":"3600","crontab":"","once":true,"onceDelay":"60","x":90,"y":140,"wires":[["d16469e1.589388"]]},{"id":"27b09427.38588c","type":"function","z":"98b0effc.65096","name":"engouh lx for pic?","func":"if (msg.payload > 100) {\n    msg.takepicture = true;   \n} else {\n    msg.takepicture = false;   \n}\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":360,"wires":[["8d9057fc.fc0b28"]]},{"id":"8d9057fc.fc0b28","type":"change","z":"98b0effc.65096","name":"","rules":[{"t":"set","p":"takepicture","pt":"global","to":"takepicture","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":360,"wires":[[]]},{"id":"d16469e1.589388","type":"switch","z":"c16ac57b.fa21f","name":"enough lx?","property":"takepicture","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":140,"wires":[["d2639062.f8449"],["2673bc74.8b9f44"]]},{"id":"2673bc74.8b9f44","type":"function","z":"c16ac57b.fa21f","name":"not enought light","func":"msg.payload = \"not enough light\";\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":160,"wires":[["743e5ee7.b3a538"]]},{"id":"743e5ee7.b3a538","type":"change","z":"c16ac57b.fa21f","name":"","rules":[{"t":"set","p":"picture","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":160,"wires":[[]]},{"id":"bb6c6b35.c9b428","type":"debug","z":"44ed3281.52c5a4","name":"memory %","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":990,"y":300,"wires":[]},{"id":"bae334df.948eb","type":"debug","z":"44ed3281.52c5a4","name":"uptime","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":970,"y":120,"wires":[]},{"id":"dc9ca4cc.cc408","type":"link out","z":"f7a0cac1.5f5af","name":"aws iot feedback","links":["e0b6f3e3.32e4e8"],"x":255,"y":520,"wires":[]},{"id":"e0b6f3e3.32e4e8","type":"link in","z":"f898b011.8cb44","name":"display box on lcd","links":["dc9ca4cc.cc408"],"x":135,"y":460,"wires":[["79be3916.3bba28"]]},{"id":"246dc1b3.b517ae","type":"Clear","z":"f898b011.8cb44","name":"clear oled","display":"1ac48f17.a5a1a1","x":620,"y":160,"wires":[]},{"id":"5d1414b8.73fa14","type":"inject","z":"f898b011.8cb44","name":"clear lcd","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":160,"wires":[["246dc1b3.b517ae"]]},{"id":"fa68fdee.60d85","type":"String","z":"f898b011.8cb44","name":"oled","display":"1ac48f17.a5a1a1","x":610,"y":520,"wires":[]},{"id":"6f396aa3.300adc","type":"function","z":"f898b011.8cb44","name":"mqtt text","func":"var text = msg.payload;\nmsg.payload = {\"size\":1,\"x\":1,\"y\":1,\"text\": text}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":520,"wires":[["fa68fdee.60d85"]]},{"id":"1739a40d.515894","type":"inject","z":"f898b011.8cb44","name":"","topic":"","payload":"test","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":520,"wires":[["6f396aa3.300adc"]]},{"id":"79be3916.3bba28","type":"yaml","z":"f898b011.8cb44","property":"payload","name":"","x":230,"y":460,"wires":[["6f396aa3.300adc"]]},{"id":"a0b19a3d.842938","type":"inject","z":"f898b011.8cb44","name":"clear aws","topic":"","payload":"   ","payloadType":"str","repeat":"600","crontab":"","once":true,"onceDelay":"0.6","x":250,"y":580,"wires":[["6f396aa3.300adc"]]},{"id":"59720841.482fc8","type":"comment","z":"c16ac57b.fa21f","name":"","info":"total duration of event 7d\nlenght of video - 20sec?\nframes per second - 50\n\n50 * 20 = 1000 picutres\n\n7 days (daylight 8 - 20) 12h/d\n1d = 12h * 60min * 60 sec = 43200 secs\n7d = 7 * 43200 secs = 302400secs\n\n302400 / 1000 = 30240 sec between pictures\n\n1.2 between pictures ~ 1h","x":80,"y":80,"wires":[]}]