flow.json
[{"id":"91f789ec.a4f17","type":"tab","label":"Playground, tests","disabled":false,"info":""},{"id":"98b0effc.65096","type":"tab","label":"BME280","disabled":false,"info":""},{"id":"f898b011.8cb44","type":"tab","label":"LCD","disabled":false,"info":""},{"id":"46da62d0.dcba5c","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"plantdb","name":"plantdb","usetls":false,"tls":""},{"id":"809d3c6.94b7cc","type":"rpi-gpio out","z":"91f789ec.a4f17","name":"","pin":"11","set":true,"level":"0","freq":"","out":"out","x":460,"y":160,"wires":[]},{"id":"5a7262a1.c43794","type":"inject","z":"91f789ec.a4f17","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":160,"wires":[["e7cdb55c.ac56b8"]]},{"id":"e7cdb55c.ac56b8","type":"trigger","z":"91f789ec.a4f17","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"500","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":280,"y":160,"wires":[["809d3c6.94b7cc"]]},{"id":"d190eb89.5eac9","type":"rpi-gpio out","z":"91f789ec.a4f17","name":"Relay","pin":"13","set":true,"level":"0","freq":"","out":"out","x":470,"y":240,"wires":[]},{"id":"85ecb1b.fa4f75","type":"inject","z":"91f789ec.a4f17","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":240,"wires":[["b10d0d1d.eee0d"]]},{"id":"b10d0d1d.eee0d","type":"trigger","z":"91f789ec.a4f17","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":280,"y":240,"wires":[["d190eb89.5eac9"]]},{"id":"e5163d7a.bca2b","type":"rpi-srf","z":"91f789ec.a4f17","name":"SR04","topic":"SRF","pulse":"0.5","pins":"40,38","x":90,"y":80,"wires":[["cb73d804.18a7d"]]},{"id":"cb73d804.18a7d","type":"debug","z":"91f789ec.a4f17","name":"distance","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":440,"y":80,"wires":[]},{"id":"df4c01ed.fb6238","type":"Bme280","z":"98b0effc.65096","name":"BME280","bus":"1","address":"0x76","topic":"bme280","extra":false,"x":280,"y":200,"wires":[["89a1f0fb.062d28","20a9c6bd.64feb2","69872bb9.1fa6bc","2eb5ceea.1a8862"]]},{"id":"2483a999.6ff35e","type":"inject","z":"98b0effc.65096","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"60","crontab":"","once":true,"onceDelay":"1","x":110,"y":200,"wires":[["df4c01ed.fb6238"]]},{"id":"9f258992.a47538","type":"influxdb out","z":"98b0effc.65096","influxdb":"46da62d0.dcba5c","name":"temperature","measurement":"temperature","precision":"","retentionPolicy":"","x":790,"y":160,"wires":[]},{"id":"89a1f0fb.062d28","type":"function","z":"98b0effc.65096","name":"temperature","func":"newMsg = {};\nnewMsg.payload = msg.payload.temperature_C;\nreturn newMsg;\n\n","outputs":1,"noerr":0,"x":510,"y":160,"wires":[["9f258992.a47538"]]},{"id":"20a9c6bd.64feb2","type":"function","z":"98b0effc.65096","name":"humidity","func":"newMsg = {};\nnewMsg.payload = msg.payload.humidity;\nreturn newMsg;","outputs":1,"noerr":0,"x":500,"y":200,"wires":[["a92609b8.0b74d"]]},{"id":"69872bb9.1fa6bc","type":"function","z":"98b0effc.65096","name":"pressure","func":"newMsg = {};\nnewMsg.payload = msg.payload.pressure_hPa;\nreturn newMsg;","outputs":1,"noerr":0,"x":500,"y":240,"wires":[["a5ba99fb.0b966"]]},{"id":"a92609b8.0b74d","type":"influxdb out","z":"98b0effc.65096","influxdb":"46da62d0.dcba5c","name":"humidity","measurement":"humidity","precision":"","retentionPolicy":"","x":780,"y":200,"wires":[]},{"id":"a5ba99fb.0b966","type":"influxdb out","z":"98b0effc.65096","influxdb":"46da62d0.dcba5c","name":"pressure","measurement":"pressure","precision":"","retentionPolicy":"","x":780,"y":240,"wires":[]},{"id":"f9fa84a1.d8683","type":"LCD-I2C","z":"f898b011.8cb44","name":"4x20 LCD","variant":"PCF8574","size":"20x4","x":700,"y":160,"wires":[]},{"id":"8204dda.5c169a","type":"function","z":"f898b011.8cb44","name":"temp obj","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"bme280\":\n        context.data.temperature = msg.payload.temperature_C;\n        context.data.humidity = msg.payload.humidity;\n        context.data.preassure = msg.payload.pressure_hPa;\n        msg = null;\n        break;\n        \n    case \"up\":\n        context.data.uptime = msg.payload;\n        msg = null;\n        break;\n}\n\nif (context.data.temperature != null &&\n    context.data.humidity != null &&\n    context.data.preassure != null &&\n    context.data.uptime != null) {\n        newMsg = {};\n        var temp = Number(context.data.temperature).toFixed(2);\n        var humi = Number(context.data.humidity).toFixed(2);\n        var press = Number(context.data.preassure).toFixed(1);\n\n        newMsg.payload =\n        [{\n            \"clear\": true,\n            \"text\": \"temp \"+ temp,\n            \"aligment\": \"left\"\n            },\n            {\n            \"clear\": true,\n            \"text\": \"hum  \"+ humi,\n            \"aligment\": \"left\"\n            },\n            {\n            \"clear\": true,\n             \"text\": \"pres \"+ press,\n             \"aligment\": \"left\"\n            },\n            {\n            \"clear\": true,\n            \"text\": \"up  \"+ context.data.uptime,\n            \"aligment\": \"left\"\n            }\n        ]\n        return newMsg;\n}\n\n","outputs":1,"noerr":0,"x":540,"y":160,"wires":[["f9fa84a1.d8683"]]},{"id":"6ab4dbc2.100f9c","type":"link in","z":"f898b011.8cb44","name":"to-display-on-LCD","links":["aa4365c9.761a18","dd12e0ac.f6805"],"x":415,"y":160,"wires":[["8204dda.5c169a","36865c98.32406c"]]},{"id":"aa4365c9.761a18","type":"link out","z":"98b0effc.65096","name":"bme280-readings","links":["6ab4dbc2.100f9c"],"x":735,"y":120,"wires":[]},{"id":"84a16c59.7d012","type":"Uptime","z":"91f789ec.a4f17","name":"","x":240,"y":460,"wires":[["f9386a3f.1218a"]]},{"id":"4a94984b.51f1b8","type":"inject","z":"91f789ec.a4f17","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"60","crontab":"","once":true,"onceDelay":"0.5","x":90,"y":460,"wires":[["84a16c59.7d012"]]},{"id":"f9386a3f.1218a","type":"function","z":"91f789ec.a4f17","name":"secs2human","func":"function secondsToString(seconds)\n{\nvar numdays = Math.floor((seconds % 31536000) / 86400); \nvar numhours = Math.floor(((seconds % 31536000) % 86400) / 3600);\nvar numminutes = Math.floor((((seconds % 31536000) % 86400) % 3600) / 60);\nvar numseconds = (((seconds % 31536000) % 86400) % 3600) % 60;\nreturn (numdays + \"d \" + numhours + \"h \" + numminutes + \"m\");\n\n}\nmsg.payload =secondsToString(msg.payload.uptime)\nmsg.topic=\"up\";\nreturn msg","outputs":1,"noerr":0,"x":410,"y":460,"wires":[["dd12e0ac.f6805"]]},{"id":"dd12e0ac.f6805","type":"link out","z":"91f789ec.a4f17","name":"uptime","links":["6ab4dbc2.100f9c"],"x":535,"y":460,"wires":[]},{"id":"36865c98.32406c","type":"debug","z":"f898b011.8cb44","name":"DEBUG","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":560,"y":80,"wires":[]},{"id":"2eb5ceea.1a8862","type":"function","z":"98b0effc.65096","name":"topic bme280","func":"msg.topic=\"bme280\";\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":120,"wires":[["aa4365c9.761a18"]]}]